<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Url" value="http://10.2.200.170:30001/sc-3thd" />
    <add key="RegUrl" value="http://10.2.200.170:30001/regServerSc/reg.json" />
    <add key="UpdateUrl" value="http://111.200.52.147:18180/appdown" />
    <add key="Name" value="爱慕智慧供应链云平台系统" />
    <add key="SkinName" value="Office 2010 Blue" />
    <add key="LoginInfo" value="UnR+ShLJdVs5ruzgd4sFBL22nafc7n0Cw/qBQceEDTDSCNR2lu4dMvXfdOLkNj3k70+aNAUDxoorQ7/M0qk7ac+UvOI0fwAy" />
    <add key="LdapPath" value="LDAP://" />
    <add key="LdapUserFormat" value="uid={0},dc=wfy,dc=com" />
    <add key="LdapFilterFormat" value="(&amp;(objectclass=user)(uid={0}))" />
    <add key="LogLevelConsole" value="Debug" />
    <add key="LogLevelDebug" value="Debug" />
    <add key="LogLevelFile" value="Warn" />
    <add key="ReportDirectory" value="ReportDirectory\ReportFiles\" />
    <add key="IsZip" value="Y" />
    <add key="IsHchsafe" value="N" />
    <add key="IsExtranet" value="Y" />
    <add key="EntryRecord_ftp" value="ftp://sctest:Aimer123@ftp.aimergroup.com/Quality%20Control%20Report/" />
    <add key="LastTicket" value="" />
    <add key="IsPrint" value="Y" />
    <add key="IsDisplayCuxiao" value="Y" />
    <add key="IsDisplayReport" value="Y" />
    <add key="PosLastColName" value="txm" />
    <add key="PosEditLastCols" value="txm" />
  </appSettings>
</configuration>
